h2 {
  margin: 0 auto;
  text-align: center;
  width: 30%;
  border-bottom: solid 0.25em;
}

.title-pages {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  align-items: center;
  font-size: 1.5em;
  .mat-icon {
    cursor: pointer;
  }
}

.page {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  align-items: center;
}

li {
  padding-bottom: 0.75em;
}
