<h2>Angular course project!</h2>
<div class="title-pages">
  <mat-icon (click)="goToPrevPage()">arrow_left</mat-icon>
  <div class="page-title">{{ getPageTitle() }}</div>
  <mat-icon (click)="goToNextPage()">arrow_right</mat-icon>
</div>
<div *ngIf="selectedPage === 1" class="page">
  <ul>
    <li>
      App module - There are only 3 component declarations used only in the app
      module
    </li>
    <li>
      App routing module - main routing component which imports the other
      routing modules
    </li>
    <li>
      Core Module includes interceptors - The app there is only one interceptor
    </li>
    <li>
      Shared module - includes all common modules, services and components, like
      material module, table component etc..
    </li>
    <li>Material module - includes angular material modules</li>
    <li>Game module - includes games components</li>
    <li>Game Routing module</li>
    <li>Auth module - includes auth components and services</li>
  </ul>
</div>
<div *ngIf="selectedPage === 2" class="page">
  <ul>
    <li>App Component</li>
    <li>Main Nav Component</li>
    <li>Auth Component</li>
    <li>
      Games Component
      <ul>
        <li>GameList Component</li>
        <li>Game Component</li>
        <li>Game Item Component</li>
        <li>Add Game component</li>
        <li>Games Table Component</li>
        <li>Manage Game Component</li>
        <li>Add Game Review Component</li>
      </ul>
    </li>
    <li>Errors Component</li>
    <li>Users Component</li>
    <li>
      Shared Components
      <ul>
        <li>Table Component</li>
        <li>Modal Component</li>
        <li>YouTube Player Component</li>
      </ul>
    </li>
    <li>Users Component</li>
  </ul>
</div>

<div *ngIf="selectedPage === 3" class="page">
  <ul>
    <li>
      Auth Store
      <ul>
        <li>User</li>
        <li>isLoading</li>
      </ul>
    </li>
    <li>
      Games Store
      <ul>
        <li>games</li>
        <li>favGames</li>
        <li>tryGames</li>
        <li>loading</li>
        <li>selectedGame</li>
      </ul>
    </li>
    <li>
      Users Store
      <ul>
        <li>users</li>
        <li>isLoading</li>
      </ul>
    </li>
    <li>
      Errors store
      <ul>
        <li>errorMessage</li>
      </ul>
    </li>
  </ul>
</div>

<div *ngIf="selectedPage === 4" class="page">
  <ul>
    <li>Auth Guards</li>
    <li>
      Mappers
      <ul>
        <li>Game mapper</li>
        <li>User mapper</li>
      </ul>
    </li>
    <li>
      Services
      <ul>
        <li>Table service</li>
        <li>Auth Interceptor</li>
      </ul>
    </li>
  </ul>
</div>

<div *ngIf="selectedPage === 5" class="page">
  <ul>
    <li>
      Users
      <ul>
        <li>Add/remove to their favourite games</li>
        <li>Add/remove to their wanted to try games</li>
        <li>Add reviews</li>
      </ul>
    </li>
    <li>
      Moderators
      <ul>
        <li>Add/remove to their favourite games</li>
        <li>Add/remove to their wanted to try games</li>
        <li>Add Games</li>
        <li>Edit Games</li>
        <li>Remove Games</li>
        <li>Add/remove reviews reviews</li>
      </ul>
    </li>
    <li>
      Moderators
      <ul>
        <li>Add/remove to their favourite games</li>
        <li>Add/remove to their wanted to try games</li>
        <li>Add Games</li>
        <li>Edit Games</li>
        <li>Remove Games</li>
        <li>Add/Remove reviews</li>
        <li>Change user roles</li>
        <li>Remove Users</li>
      </ul>
    </li>
  </ul>
</div>
