<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <caption>
      {{
        tableName
      }}
    </caption>
    <ng-container
      *ngFor="let columnName of displayedColumns"
      matColumnDef="{{ columnName }}"
    >
      <th mat-header-cell *matHeaderCellDef id="columnName">
        {{ columnName }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{
          !["action", "image"].includes(columnName) ? element[columnName] : ""
        }}
        <mat-icon
          *ngIf="columnName === 'action'"
          (click)="onActionCall(element[columnName])"
          >close</mat-icon
        >
        <img
          mat-card-avatar
          src="{{ element[columnName] }}"
          alt="{{ columnName }}"
          *ngIf="columnName === 'image'"
        />
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
