<h2 class="title">{{ "Game Data" }}</h2>
<div class="main-container">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-title"></div>
    <mat-form-field>
      <mat-label>Game name</mat-label>
      <input matInput placeholder="Best game" name="name" required ngModel />
      <mat-error *ngIf="f.invalid">{{ "Field is required" }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Game company</mat-label>
      <input
        matInput
        placeholder="Best company"
        name="ownerCompany"
        required
        ngModel
      />
      <mat-error *ngIf="f.invalid">{{ "Field is required" }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Game avatar url</mat-label>
      <input
        matInput
        placeholder="Game description"
        name="imageUrl"
        required
        ngModel
      />
      <mat-error *ngIf="f.invalid">{{ "Field is required" }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Trailer - URL</mat-label>
      <input
        matInput
        placeholder="Best trailer"
        name="trailerUrl"
        required
        ngModel
      />
      <mat-error *ngIf="f.invalid">{{ "Field is required" }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Game Description</mat-label>
      <textarea
        matInput
        placeholder="Best Description"
        name="description"
        required
        minlength="20"
        ngModel
        cols="30"
        rows="5"
      ></textarea>
      <mat-error *ngIf="f.invalid">{{
        "Should contains 20 symbols at least"
      }}</mat-error>
    </mat-form-field>
    <div class="actions">
      <button mat-raised-button color="primary" type="submit">
        {{ "Submit data" }}
      </button>
      <button
        mat-stroked-button
        color="accent"
        type="button"
        (click)="onTogglePreview()"
        disabled="{{ f.invalid }}"
      >
        {{ isPreviewMode ? "Close preview" : "Preview" }}
      </button>
    </div>
  </form>
  <div class="preview-container" *ngIf="isPreviewMode && f.valid">
    <img
      mat-card-avatar
      src="{{ f.value.imageUrl }}"
      alt="{{ f.value.name }}"
    />
    <h2>Game: {{ f.value.name }}</h2>
    <div>Company: {{ f.value.ownerCompany }}</div>
    <app-youtube-player
      videoUrl="{{ f.value.trailerUrl }}"
    ></app-youtube-player>
    <hr />
    <p>Description: {{ f.value.description }}</p>
  </div>
</div>
