.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.preview-container {
  width: 50%;
  margin: 0 2em 0 2em;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 2em 0 2em;
  .mat-form-field {
    width: 100%;
    margin-bottom: 2em;
  }
  box-sizing: border-box;
}

.actions {
  display: flex;
  justify-content: flex-end;
  min-width: 70%;
  button {
    margin-right: 0.5em;
  }
}

.form-title {
  text-align: center;
  h2 {
    margin-top: 2em;
  }
  p {
    margin-bottom: 2em;
    .title-error {
      color: #963232;
    }
  }
}

.mat-card-avatar {
  height: 100px;
  width: 100px;
  margin: 0.5em 0 0 0;
}

@media (max-width: 850px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }
  .preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
