.table-container {
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  .mat-icon {
    color: red;
    cursor: pointer;
  }

  .mat-header-row {
    background-color: #c2185b;
  }

  th {
    text-align: center;
    text-transform: capitalize;
  }
  td {
    text-align: center;
  }
}

.mat-card-avatar {
  height: 60px;
  width: 60px;
  margin: 0.5em 0 0 0;
}

.select-option {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  .mat-select {
    margin-right: 0.5em;
    border-bottom: solid #adacac 1px;
  }
  .mat-icon {
    color: #adacac;
  }
}
