<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <caption>
      {{
        tableName
      }}
    </caption>
    <ng-container
      *ngFor="let columnName of displayedColumns"
      matColumnDef="{{ columnName }}"
    >
      <th mat-header-cell *matHeaderCellDef id="columnName">
        {{ columnName }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{
          !["action", "image", "role"].includes(columnName)
            ? element[columnName]
            : ""
        }}
        <mat-icon
          *ngIf="columnName === 'action' && element.id !== loggedInUser.id"
          (click)="onDeleteUser(element.id)"
          >close</mat-icon
        >
        <img
          mat-card-avatar
          src="{{ element[columnName] }}"
          alt="{{ columnName }}"
          *ngIf="columnName === 'image'"
        />
        <div *ngIf="columnName === 'role'" class="select-option">
          <mat-select
            disabled="{{ element.id === loggedInUser.id }}"
            matNativeControl
            #mySelect
            [value]="element[columnName]"
            (selectionChange)="
              onChangeUserRole({ role: mySelect.value, id: element.id })
            "
          >
            <mat-option
              *ngFor="let role of ['Admin', 'Moderator', 'User']"
              [value]="role"
            >
              {{ role }}
            </mat-option>
          </mat-select>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
