.grid-container {
  margin: 0 auto;
  max-width: 80em;
}

.mat-title {
  display: flex;
  justify-content: center;
  font-size: 10em;
  margin: 0 0.85em 0.75em 0;
  mat-icon {
    font-size: inherit;
    color: #c2185b;
  }
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  max-width: 40em;
  margin: 0 auto;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.mat-card-content {
  height: 90%;
}

.dashboard-card-content {
  // text-align: center;
  max-height: 100%;
}
