form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .mat-form-field {
    min-width: 70%;
    margin-bottom: 2em;
    padding: 2em;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  min-width: 70%;
  button {
    margin: -2em 0.5em 2em 0;
  }
}

.form-title {
  text-align: center;
  h2 {
    margin-top: 2em;
  }
}

.mat-label {
  padding: 3em;
}

textarea {
  overflow: auto;
  border: solid rgb(107, 104, 104) 0.125em;
}

.mat-input-element {
  padding: 1em 0 0 1em;
  margin: 2em 0 0 0;
  box-sizing: border-box;
}
