<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-title">
    <h2>{{ "Add your game review!" }}</h2>
  </div>
  <mat-form-field>
    <mat-label>Your review</mat-label>
    <textarea
      matInput
      placeholder="Your comment here!"
      name="content"
      required
      minlength="20"
      ngModel
      cols="30"
      rows="5"
    ></textarea>
    <mat-error *ngIf="f.invalid">{{
      "Your review should contains 20 symbols at least"
    }}</mat-error>
  </mat-form-field>
  <div class="actions">
    <button mat-raised-button color="primary" type="submit">
      {{ "Submit" }}
    </button>
    <button
      mat-stroked-button
      color="accent"
      type="button"
      (click)="onCloseForm()"
    >
      {{ "Cancel" }}
    </button>
  </div>
</form>
