.game-item-container {
  display: flex;
  max-height: 100%;
  overflow: hidden;
  .info-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
    margin-left: 1em;
    .company {
      font-weight: 700;
    }
    .description {
      overflow: auto;
      padding: 0.2em;
      flex: 1;
    }
    .actions {
      mat-icon {
        margin: 0 0.2em 0 0;
        cursor: pointer;
      }
    }
  }
  .image-container {
    flex: 3;
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    overflow: hidden;
    padding: 2em;
    box-sizing: border-box;
    img:hover {
      opacity: 0.5;
    }
  }
}
.container-mobile {
  flex-direction: column-reverse;
  height: 100%;
  .image-container {
    flex: 3;
    display: flex;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    .mat-card-avatar {
      width: 120px;
      height: 120px;
    }
    img:hover {
      opacity: 0.5;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    justify-items: flex-start;
    flex: 3;
    .company {
      font-weight: 700;
    }
    .description {
      overflow: hidden;
      padding: 0.2em;
    }
    .actions {
      justify-self: flex-end;
      flex: 1;
    }
  }
}

.fav-game {
  color: rgb(236, 214, 18);
}

.try-game {
  color: rgb(5, 168, 128);
}

.mat-card-avatar {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
