<div
  class="game-item-container"
  [ngClass]="{ 'container-mobile': isMobile | async }"
>
  <div class="info-container">
    <div class="company">{{ game.ownerCompany }}</div>
    <div class="description">
      {{ content }}
    </div>
    <div class="actions">
      <mat-icon
        matTooltip="Wants to try"
        [ngClass]="{ 'try-game': isTryGame }"
        (click)="onChangeTryStatus()"
        *ngIf="user?.role"
        >toys</mat-icon
      >
      <mat-icon
        matTooltip="Favorites"
        [ngClass]="{ 'fav-game': isFavGame }"
        (click)="onChangeFavStatus()"
        *ngIf="user?.role"
        >star</mat-icon
      >
      <mat-icon
        matTooltip="Add review"
        (click)="onAddReview(game.id)"
        *ngIf="user?.role"
        >comment</mat-icon
      >
      <mat-icon
        matTooltip="Edit game"
        (click)="onEditGame(game.id)"
        *ngIf="user?.role === 'Moderator' || user?.role === 'Admin'"
        >edit</mat-icon
      >
    </div>
  </div>
  <div class="image-container">
    <img
      src="{{ game.imageUrl }}"
      alt="{{ game.name }}"
      mat-card-avatar
      (click)="onSelectGame(game.id)"
    />
  </div>
</div>
<app-modal
  [isDialogOpen]="isReviewDialogOpen"
  (dialogClosed)="onCloseReviewDialog()"
  ><app-add-game-review
    [gameId]="game.id"
    (dialogClosed)="onCloseReviewDialog()"
  ></app-add-game-review
></app-modal>
