form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .mat-form-field {
    min-width: 70%;
    margin-bottom: 2em;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  min-width: 70%;
  button {
    margin-right: 0.5em;
  }
}

.form-title {
  text-align: center;
  h2 {
    margin-top: 2em;
  }
  p {
    margin-bottom: 2em;
    .title-error {
      color: #963232;
    }
  }
}
