<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-title">
    <h2>{{ signInMode ? "Login" : "Sign up" }}</h2>
    <p>Please add your data</p>
  </div>
  <mat-form-field *ngIf="!signInMode">
    <mat-label>Enter your name</mat-label>
    <input
      matInput
      placeholder="John Doe"
      name="name"
      required
      minlength="6"
      ngModel
    />
    <mat-error *ngIf="f.invalid">{{ getErrorMessage("name") }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="example@example.com"
      name="email"
      required
      email
      ngModel
    />
    <mat-error *ngIf="f.invalid">{{ getErrorMessage("email") }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      [type]="hidePassword ? 'password' : 'text'"
      required
      name="password"
      minlength="6"
      (ngModelChange)="onRepeatPassword()"
      [pattern]="'^(?=.*\\d[a-zA-Z]).*$'"
      ngModel
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="f.invalid">{{ getErrorMessage("password") }}</mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="!signInMode">
    <mat-label>Repeat your password</mat-label>
    <input
      matInput
      [type]="hidePassword ? 'password' : 'text'"
      name="repeatPassword"
      ngModel
      (ngModelChange)="onRepeatPassword()"
      required
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="f.invalid">{{
      getErrorMessage("repeatPassword")
    }}</mat-error>
  </mat-form-field>
  <div class="actions">
    <button mat-raised-button color="primary" type="submit">Submit</button>
    <button
      mat-stroked-button
      color="accent"
      type="button"
      (click)="onSwitchMode()"
    >
      Switch to {{ signInMode ? "Sign up" : " Login" }}
    </button>
  </div>
</form>
