.sidenav-container {
  height: 100%;
}

.site-title {
  align-self: center;
  justify-self: center;
  padding: 0 1em;
}
.title-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logout {
    cursor: pointer;
    display: flex;
    align-items: center;
    span {
      font-size: 0.7em;
    }
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav {
  .mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mat-nav-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  div {
    display: flex;
    align-items: center;
    margin: 0.5em 1em;
    cursor: pointer;
    .mat-icon {
      cursor: pointer;
      margin: 0.2em;
      display: inline;
    }
    span {
      font-weight: 700;
    }
  }
}

button {
  margin: 0 1em 0 0;
  align-self: center;
}
