<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    color="primary"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) === false ? 'side' : 'over'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="drawer.opened"
      >
        <mat-icon aria-label="Side nav toggle icon">first_page</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <div
        *ngFor="let navOption of navOptions"
        (click)="onSelectRoute(navOption.route)"
      >
        <mat-icon aria-label="Side nav toggle icon">{{
          navOption.icon
        }}</mat-icon>
        <span>{{ navOption.name }}</span>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="title-toolbar">
      <div class="app-title">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="!drawer.opened"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="site-title">Game Book</span>
      </div>
      <div class="logout" *ngIf="user?.email" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
