.error-snack {
  background-color: #963232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 25px;
  right: 20px;
  z-index: 999;
  color: #fff;
  padding: 1em;
  width: 20em;
  border-radius: 5px;
  .mat-icon {
    cursor: pointer;
  }
}
