<div class="section-container">
  <div class="game-container">
    <div class="game-info-container">
      <img
        mat-card-avatar
        class="game-avatar"
        src="{{ game?.imageUrl }}"
        alt="{{ game?.name }}"
      />
      <div class="game-info">
        <div class="info">
          <div class="game-title">{{ game?.name }}</div>
          <div class="company">Company: {{ game?.ownerCompany }}</div>
        </div>
        <app-youtube-player
          videoUrl="{{ game?.trailerUrl }}"
        ></app-youtube-player>
      </div>
    </div>
    <div class="reviews-container">
      <div class="review-title">Reviews</div>
      <div class="review-list" *ngIf="game?.reviews.length !== 0">
        <div *ngFor="let review of game?.reviews">
          <div class="review-item">
            <img
              mat-card-avatar
              src="{{ game?.imageUrl }}"
              alt="{{ game?.name }}"
            />
            <div class="info">
              <div>Reviewer: {{ review.creator }}</div>
              <div class="review-game">Game: {{ game?.name }}</div>
              <div>Review: {{ review.content }}</div>
            </div>
            <mat-icon
              (click)="onRemoveReview(game?.id, review.id)"
              *ngIf="checkReviewOwner()"
              >close</mat-icon
            >
          </div>
          <hr />
        </div>
      </div>
      <div class="no-review-list" *ngIf="game?.reviews.length === 0">
        <h1>No Reviews</h1>
      </div>
    </div>
  </div>
  <div class="description-container">
    <div class="description-title">Description</div>
    <div class="description-content">
      {{ game?.description }}
    </div>
  </div>
</div>
