.game-container {
  margin: 0 4em 0 4em;
  height: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 2em 2em 0;

  border-bottom: solid 0.05em;
  .game-info-container {
    width: 100%;
    height: 100%;
    margin: 1em 1em 1em 1em;
    display: flex;
    .game-avatar {
      width: 15em;
      height: 15em;
      margin-top: 3em;
    }
  }
  .reviews-container {
    width: 100%;
    height: 100%;
    margin: 1em 0em 1em 0em;
    overflow: auto;
  }
  .review-title {
    font-size: 2em;
    font-weight: 700;
    margin: 0.5em;
    border-bottom: #c2185b solid 0.25em;
    padding-bottom: 0.5em;
    display: inline-block;
  }
  .review-item {
    display: flex;
    align-items: center;
    width: 100%;

    .mat-icon {
      cursor: pointer;
      justify-self: flex-end;
    }
  }
  .info {
    margin: 0.75em;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .review-game {
      font-weight: 700;
    }
    .game-title {
      font-weight: 900;
      font-size: 2.5em;
      border-bottom: #c2185b solid 0.25em;
      padding-bottom: 0.5em;
      display: inline-block;
      line-height: 1.2em;
    }
    .company {
      margin: 1.5em;
      font-weight: 700;
      font-size: 2em;
      line-height: 1.2em;
    }
  }
}

.description-container {
  margin: 0 4em 0 4em;
  .description-title {
    font-weight: 900;
    font-size: 2em;
    margin: 1em;
    border-bottom: #c2185b solid 0.25em;
    padding-bottom: 0.5em;
    display: inline-block;
  }
  .description-content {
    margin: 0 1em 1em 2em;
  }
}

@media (min-width: 850px) {
  .game-info-container {
    border-right: solid 0.05em;
    box-sizing: border-box;
  }
  .game-title {
    margin: 0.25em 0 0 1em;
  }
}

@media (max-width: 850px) {
  .game-container {
    flex-direction: column;
    align-items: center;
  }
  .game-info-container {
    flex-direction: column;
    align-items: center;
    border-right: none;
  }
  .game-info {
    align-self: center;
  }
  .game-title {
    margin: 0.25em 0 0 0.75em;
    align-self: center;
  }
  .game-avatar {
    padding-left: 2em;
  }
}
