/* Modal Header */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-close {
  display: none;
}

/* Modal Content */
.modal-content {
  z-index: 2;
  top: 10%;
  position: fixed;
  background-color: #424242;
  padding: 0;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  margin: 0 auto;
  left: 25%;
  box-sizing: border-box;
}

.modal-header {
  padding: 0.5em;
  background-color: #c2185b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5em;
  .modal-title {
    font-size: 1.25em;
    font-weight: 700;
  }
  .mat-icon {
    cursor: pointer;
  }
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #c2185b;
  color: white;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 10%;
    opacity: 1;
  }
}
