<div
  class="modal"
  (click)="onCloseModal()"
  [ngClass]="{ 'modal-close': !isDialogOpen }"
></div>
<div [ngClass]="{ 'modal-close': !isDialogOpen }">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">{{ title }}</div>
      <mat-icon (click)="onCloseModal()">close</mat-icon>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
  </div>
</div>
